.home 
    width 80vw
    margin 0 auto

    h1 
        font-size 6vw
        font-weight 300
        margin 43vh 0 1vh
    

    h2 
        font-size 4.25vw
        font-weight 100
        font-family Roboto
        line-height 3.5rem
        font-style italic
        margin 0 0 5vh 0
    

    h3 
        font-weight 400
    

    &-actions
      display flex
      align-items center
      .action 
        border 1px solid $textColor
        margin-right 1vw
        padding 1.5vw
            // a 

            
            // margin 0
            // padding .5vw
            // margin-right 1vw
        
    

    a.enter-btn 
        font-size 2vw
        display block
        // min-width 220px
        max-width 14vw
        padding 1.5vw 2vw
        pointer-events all
        cursor none
        margin 0
        margin-left auto
    

    @media screen and (max-width 550px) 
        width 90%
        margin-top 100px
        margin-bottom 100px

        h1 
            font-size 2rem
        

        h2 
            font-size 2.5rem
        
        a.enter-btn 
            max-width 40vw
        
    

