@import "colors.styl"
@import "animate.styl"
@import "typography.styl"

[v-cloak]
  display none
html
  // font-size 1vw
  font-size 18px
  font-family "Josefin Sans"
  font-weight 300
  overflow-x hidden
  height auto
  min-height 100%
  position relative
  cursor crosshair
  *
    box-sizing border-box
  body
    overflow hidden
    color $textColor
    width 100vw
    height 100vh
    margin 0
    position relative
    background linear-gradient(0, #111630, #000, #11162F)
    overflow-y auto
    a
      text-decoration none
      color $textColor
      &hover .cursor
        border-color red
    // @media screen and (max-width: 550px)
    //   font-size 20px

